programs/bd/lab3_java/xsds/ComplexObject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="complexObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listFood">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="food">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="country" type="xs:string" />
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="price" type="xs:unsignedShort" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="supplier">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="country" type="xs:string" />
              <xs:element name="city" type="xs:string" />
              <xs:element name="rating" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="arrayConsumer">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="consumer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="country" type="xs:string" />
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="type" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>